div{
    height: 200;
    width: 200;
  }
img{
height: auto;
width: auto;
}
p{
margin: 0;
}
#first{
color: white;
  border: 5px solid white;
background-color: black;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px solid red;
text-align: center;
}
#second{
  border: 10px solid white;
background-color: white;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
text-align: center;
}