html{
    background-color: green;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font-style: normal;
}

footer{
    float: right;
    color: white;
}

tittle{
    color: orange;
}