
        html{
            background-color: darkolivegreen;
            text-align: center;
            display: inline-block;
            
        }
        #first{
            border: 5px solid red;
            padding: 0px;
            margin: 0px 20px 5px 20px;
            background-color: darkgrey;
            width: 50%;
        }
        #second{
            border: 5px solid blue;
            padding: 0px 0px 50px 0px;
            margin: 5px 20px 5px 20px;
            background-color:green;
            width: 50%;
        }
        #third{
            border: 5px solid black;
            padding: 0px;
            margin: 5px 20px 5px 20px;
            background-color: red;
            width: 50%;
        }
        #fourth{
            border: 5px solid green;
            padding: 0px;
            margin:5px 20px 5px 20px;
            background-color: black;
            width: 50%;
        }
        #fifth{
            border: 5px solid yellow;
            padding: 0px;
            margin: 5px 20px 5px 20px;
            background-color: blue;
            width: 50%;
        }
        #sixth{
            border: 5px solid violet;
            padding: 0px;
            margin: 5px 20px 20px 20px;
            background-color: salmon;
            width: 50%;
        }