html{
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

tittle{
    font-family :Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
h1{
    font-size: 5rem;
    display: inline-block;
}
img{
    display: block;
}
span{
    color: firebrick;
    font-size: 4rem;
}

#first{

    border: 2px solid red;
    padding: 0px;
    margin: 0px;
}
.first {
    h1{
        display: block;
    font-size: 2rem;
    color: blue;
   
  }
  p{
    font-size: 1.5rem;
    color: whitesmoke;
  }
}
footer{
    color: midnightblue;
    float: right;
}